.button{
  @apply inline-flex justify-center py-2 px-6 border shadow-sm rounded-md text-xl text-center outline-none;
  color: #aaa;
  border-color: #aaa;
  background-color: #333;
  text-transform: uppercase;
  &:focus{
    @apply outline-none ring-2 ring-offset-2 ring-gray-300;
  }
  &:hover{
    @apply border-gray-300 text-gray-300;
  }
}