.menu-mobile-container{
  @apply absolute top-0 inset-x-0 p-2 transition transform origin-top-right z-50;
  @screen md {
    @apply hidden;
  }
}
.menu-mobile{
  @apply rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 divide-y-2 divide-gray-50;
  background-color: #333;
}
.menu-mobile-section-top{
  @apply pt-5 pb-6 px-5;
}
.menu-mobile-header{
  @apply flex items-center justify-between;
}
.menu-mobile-branding{
  @apply h-8 w-auto;
}
.menu-mobile-close-container{
  @apply -mr-2;
}
.menu-mobile-close{
  @apply rounded-md p-2 inline-flex items-center justify-center text-gray-400;
  &:focus{
    @apply outline-none ring-2 ring-inset ring-red-400;
  }
  &:hover{
    @apply text-red-700;
  }
}
.menu-mobile-close-label{
  @apply sr-only;
}
.menu-mobile-close-icon{
  @apply h-6 w-6;
}
.menu-mobile-body{
  @apply mt-6;
}
.menu-mobile-primary{
  @apply grid gap-y-4;
}
.menu-mobile-primary-item{
  @apply p-3 flex items-center rounded-md text-base font-medium;
  color: #aaa;
  &:hover{
    color: wheat;
  }
}
.menu-mobile-primary-sub-items{
  @apply pl-3;
}
.menu-mobile-primary-sub-item{
  @apply p-3 flex items-center rounded-md text-base font-medium opacity-70;
  color: #aaa;
  &:before {
    content: "•";
    @apply mx-2 text-xl opacity-50;
  }
  &:hover{
   color: wheat;
  }
}
.menu-mobile-section-bottom{
  @apply py-6 px-5 space-y-6 rounded-b-lg bg-gray-100;
  @apply hidden;
}
.menu-mobile-footer{
  @apply grid grid-cols-2 gap-y-4 gap-x-8;
}
.menu-mobile-footer-item{
  @apply text-base font-medium text-gray-900;
  &:hover{
    @apply text-gray-700;
  }
}

.menu-mobile-social{
  @apply mt-6 text-center flex justify-center mt-4 border-t pt-6 border-gray-100;
}
.menu-mobile-social-item{
  @apply text-base font-medium text-gray-500 mx-4;
  &:hover{
    @apply text-gray-700;
  }
}
.menu-mobile-social-item-label{
  @apply sr-only;
}
.menu-mobile-social-item-icon{
  @apply h-6 w-6;
}